/* * { border: 1px solid red !important; } */
*{font-family: Ubuntu !important ;}
.categoryImage {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: aqua;
    text-align: center;
    margin-left: 15%;
    box-shadow: 5px 5px 5px grey;
}
.mobileCategory{
    display: none;
}

.categoryContainer {
    /* width: 1280px !important;
    min-width: 500px !important; */
    margin: auto;
}

.itemClass {}


.item {
    width: 150px !important;
}

.banner {
    height: 320px !important;
}

.bannerImg {
    height: 350px;

}

.products{
    padding: 15px;
    max-width: 1280px;
    display: grid;
    margin: auto;
    gap: 50px 50px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.mobBanner{
    display: none;
}
















@media only screen and (max-width: 1100px) {
    
    .products{
        grid-template-columns: repeat(5, 1fr);
    }

    .banner {
        height: 250px !important;
    }
    
    .bannerImg {
        height: 250px;
    }

}
@media only screen and (max-width: 920px) {

    .products{
        grid-template-columns: repeat(4, 1fr);
}

}
@media only screen and (max-width: 800px) {

    .products{
        grid-template-columns: repeat(3, 1fr);
}

}
@media only screen and (max-width: 550px) {
    /* .prodCard{
        height: 50px !important;
    } */
    .css-1t6e9jv-MuiCardActions-root{
        padding-top: 0px !important;    
    }
    .webBanner{
        display: none;
    }
    .mobBanner{
        display:flex;
    }
    .discription{
        display: none;
    }
    .webCategory{
        display: none;
    }
    .mobileCategory{
        display: block;
    }
    .carousel-container{
    }
    .css-s8aof2-MuiTypography-root , .css-h93ljk-MuiTypography-root{
        font-size: 0.9rem !important;
    }

    .ProdImage{
        height: 55px !important;
    }
    .areaImage{
        max-height: 88px;
    }
    .prodCard{
        /* width: 115px; */
        height: 135px !important;
    }
    .products{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;

    }
    
    .banner {
        height: 150px !important;
    }
    .categoryContainer{
            margin-top: -40px !;
    }

    .categoryImage {
        height: 75px;
        width: 75px;

    }
    .item {
        width: 100px !important;
    }
}



